/* font-family: 'Poppins', sans-serif;
font-family: 'Ruthie', cursive; */

:root {
  --primary-font-family: "Ruthie", cursive;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

h1 {
  font-family: var(--primary-font-family);
  letter-spacing: 1px;
  font-size: 40px;
}

h2 {
  color: gray;
  margin-top: -30px;
  font-family: var(--secondary-font-family);
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 2px;
}

figure img {
  width: 100%;
}

figcaption {
  font-family: var(--secondary-font-family);
  color: gray;
  font-size: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 90px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.nav-links li {
  padding: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: all 100ms ease-in-out;
}

.nav-links a:hover,
.nav-links li.active a {
  color: purple;
}

.author-photo {
  width: 100%;
}

.homepage {
  max-width: 400px;
  margin: 0 auto;
  display: flex;

  margin-right: 700px;
  margin-top: 70px;

  background-color: aliceblue;
}

.homepage section {
  margin-top: 155px;
  padding: 35px;
  flex: 1 0 auto;
}

.introduction {
  margin: 40px;
  margin-top: 70px;
  padding: 20px;
  background-color: aliceblue;
}

.introduction h2 {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 30px;
  letter-spacing: 1px;
  color: #000;
}

.introduction p {
  margin-left: 40px;
  margin-bottom: 25px;
  font-family: var(--secondary-font-family);
  color: gray;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
